<!-- Nav Bar Start -->
<header class="content" id="nav-head" style="padding-top: 0px; padding-bottom: 0px; position: -webkit-sticky; position: sticky; top: 0px; z-index: 2;">
    <nav class="post-title nav">
        <div class="nav-item nav-resize">
            <a href="{{ site.baseurl }}" title="No Place Like Home">Home</a>
        </div>
        <div class="nav-item nav-resize">
            <a href="{{ site.baseurl }}post-feed/index.html" title="News-Like Feed of my Posts/Projects">Post-Feed</a>
        </div>
        <div class="nav-item nav-resize">
            <a href="{{ site.baseurl }}about" title="Find Out More About Me">About</a>
        </div>
        <div class="nav-item nav-resize">
            <a href="{{ site.baseurl }}contact" title="Contact Me">Contact</a>
        </div>
        <div class="nav-item nav-resize">
            <a href="{{ site.baseurl }}assets/Resume.pdf" title="Look at My Resume" target="_blank">Resume/CV</a>
        </div>
        <div class="nav-item nav-resize">
            <a href="{{ site.baseurl }}atom.xml" title="RSS Feed to Keep Track of Me" target="_blank">RSS</a>
        </div>
        <div class="nav-item nav-resize">
            <a href="{{ site.baseurl }}search.html" title="Search the Posts/Projects on the Site">Search</a>
        </div>
    </nav>
</header>
<!-- Nav Bar close -->